
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

body {
    background-color: black;
    margin: 0; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    height: 40px;
    padding: 0;
    margin: 0;
}



ul {
    list-style: none;
    display: flex;
    gap: 2rem; 
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: rgb(120, 21, 153);
    border-bottom: solid 1px;
}


.backgroud {
    background-image: url(./backgroud1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh; 
}

.C-title {
    position: relative;
   

}



.C-title p {
    position:absolute;
    color: #fff;
    font-size: 2rem;
  
}
.C-title img {
    position: absolute;
    width:80%;
    height: 80vh;
    top: 0;
 }

.texto {
    text-align: left;
    display: inline-block;
}


.conteiner-sobre {
    color: #fff;
    background-color: black;
    width: 100%;
    padding: 4rem 2rem; 
}

.conteiner-sobre h1 {
    color: black; 
    text-align: center;
}

.conteiner-sobre h3 {
    color: black; 
    text-align: center;
    margin-top: 1rem;
}

.conteiner-sobre p {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0 2rem;
}


.contatos {
    color: white;
    margin-top: 10rem;
    padding: 4rem 2rem; 
}


.aluno {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
    border: 2px solid beige;
    color: white;
    background-color: #888484;
    border-radius: 10px;
    margin-bottom: 2rem; 
    padding: 1rem; 
}

.aluno img {
    width: 100%; 
    max-height: 15rem; 
    object-fit: cover; 
}

.aluno h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

body {
    background-color: black;
    margin: 0; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
    width: 5rem;
    height: 3rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: rgb(120, 21, 153);
    border-bottom: solid 1px;
}


.backgroud {
    background-image: url(./backgroud1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.C-title {
  
   margin-top: 40px;
}

.C-title img {
    margin-left: 2em;
   width: 90%;
   height: 90vh;
}

.C-title p {
    margin-left: 2em;
    color: #fff;
    font-size: 1.5em;
   
}

.texto {
    text-align: left;
    display: inline-block;
}


.conteiner-sobre {
    color: #fff;
    background-color: black;
    width: 100%;
    padding: 4rem 2rem; 
}

.conteiner-sobre h1 {
    color: white; 
    text-align: center;
}

.conteiner-sobre h3 {
    color: white; 
    text-align: center;
    margin-top: 1rem;
}

.conteiner-sobre p {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0 2rem; 
}


.contatos {
    color: white;
    margin-top: 12rem;
    padding: 4rem 2rem; 
}

.contatos h1{
    text-align: center;
  
}

.contatos h2{
    margin: 1em;
}


.aluno {
    position: relative;
    display: flex;
    flex-direction:row;
    width: 100%;
    border: 2px solid beige;
    color: white;
    background-color: #888484;
    border-radius: 10px;
    margin-bottom: 2rem; 
    padding: 1rem; 
}

.aluno img {
    width: 30%; 
    max-height: 15rem; 
    object-fit: cover; 
}

.aluno h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.aluno h3{
    margin: 1em;
 }